
::selection { background-color: #E13300; color: white; }
::-moz-selection { background-color: #E13300; color: white; }

#header-size{
    font-size:20px;
}

#nav_links{
    font-size: 15px;
    vertical-align: middle;
}

#footer {
    font-size: 15px;
    margin-top: 20px;
    text-align: center;
}

#main_logo{
    position: relative;
    float: left;
    width: 40px;
    margin-top: -10px;
}

.cell_part_image{
    margin: 10px;
    max-width: 250px;
}

.assembly_image{
    max-height: 150px;
}

.text-centered{
    margin: auto;
    text-align: center;
}

.parts_container {
    font-size: 20px;
    letter-spacing: 5px;
    border:2px solid #ccc; 
    width:300px; height: auto; 
    padding: 10px;
}

.btn-space{
    margin-top:50px;
}